name: Deploy to staging

on:
  push:
    branches: [ main ]

jobs:
  redeploy_everything:
    runs-on: ubuntu-latest
    name: Deploying everything to the staging server
    steps:
      - name: Deploy via SSH
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/ssh_key
          chmod 600 ~/ssh_key
          
          ssh -o StrictHostKeyChecking=no -i ~/ssh_key mrkhan@20.187.144.240 << 'EOF'
            cd ~/ci-cd-new
            git pull
            pnpm install
            pnpm run build
            pm2 restart http-server
            pm2 restart web
            pm2 restart ws-server
          EOF